* {
	font-family: 'Big Caslon', 'Goudy Old Style', 'Times New Roman', serif;
    background-color: black;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}

/* Mobile style, under 768px (iPad portrait mode) */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

.contents {
    padding: 1rem;
    overflow-y: auto;
    text-align: left;
    color: white;
    font-size: 2rem;
}

.word {
    font-size: 3rem;
}

.button-container {
    position: fixed;
    right: 1rem;
    top: 2rem;
    background-color: rgba(201, 76, 76, 0);
}

button {
    width: 4rem;
    height: 4rem;
    background-color: #ffaa00;
    color: white;
    font-size: 1rem;
    border-radius: 100%;
    border: none;
    text-align: center;
}

i {
    color: white;
    background-color: rgba(201, 76, 76, 0);
}

.description {
    width: 80%;
    position: relative;
    display: inline-block;
    margin: auto;
    font-size: 1.5rem;
    color: gray;
    background-color: rgba(201, 76, 76, 0);
}

/* Computer style, above 768px (iPad portrait mode) */
@media screen and (min-width:769px) {

    .phone {
        position: relative;
        margin: auto auto auto auto;
        display: block;
        width: 375px;
        height: 667px;
        border: 2px solid white;
        border-radius: 30px;
    }
    .screen {
        position: relative;
        margin: 14% auto auto auto;
        display: block;
        width: 95%;
        background-color: black;
        height: 82%;
        border: 2px solid gray;
    }

    .contents {
        height: 94%;
        overflow: auto;
        text-align: left;
        color: white;
        font-size: 2rem;
    }
    .word {
        font-size: 4rem;
    }

    .button-container {
        position: fixed;
        width: 5rem;
        margin: auto;
        z-index: 1;
        right: 50%;
        transform: translate(180px, 70px)   /* 4 */
    }

}
